@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Francisco Carretti, 231<br />
    São Jorge, Manaus-AM-Brazil 69033-180<br />
    <abbr title="Phone">P:</abbr>
    +55 92 98183-7173
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:alexfabiany@outlook.com">alexfabiany@outlook.com</a>
</address>
